@font-face {
    font-family: 'Pragmatica';
    src: url('Pragmatica-Medium.eot');
    src: url('Pragmatica-Medium.eot?#iefix') format('embedded-opentype'),
        url('Pragmatica-Medium.woff2') format('woff2'),
        url('Pragmatica-Medium.woff') format('woff'),
        url('Pragmatica-Medium.ttf') format('truetype'),
        url('Pragmatica-Medium.svg#Pragmatica-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

